/* .star-img-container {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: hsl(211, 19%, 24%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  margin: 2rem 0 1rem 0;
} */