* {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

body {
  padding: 5px;
  height: 100vh;
  margin: 0;
}

.cards {
  margin-right: 20px;
  padding-bottom: 20px;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  order: 4;
}

.card {
  box-shadow: 2px 3px 7px 3px rgba(0, 0, 0,  .4);
  max-height: 20em;
  background-color: #fffcf7;
}

.cardimage {
  display: block;
  padding-top: 10px;
  margin: auto;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}

.cardcontent {
  line-height: 1.5;
  font-size: 0.8em;
  padding: 15px;
  overflow-y: scroll;
  overflow: hidden;
}


.cardfooter {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  background-color: rgb(229, 223, 223);
}

a {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease-in-out;
}

a:hover{
  color: rgb(0, 229, 255);
}

.header {
  order: 1;
}

.header h1{
  font-size: 4em;
  text-shadow: 2px 2px 4px rgb(0, 229, 255);
  margin-top: 20px;
  margin-bottom: 0;
}

.sidebar {
  flex: 1;
  max-width: 300px;
  margin-top: 5%;
}

.search {
  width: 200px;
  height: 25px;
  border-radius: 4px;
}

.clear {
  margin-left: 5px;
}

.clear, 
.searchsubmit {
  height: 35px;
  width: 70px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 4px;
}

.clear:hover {
  box-shadow: 1px 1px 2px 2px rgba(255, 0, 0, 0.4);
  background-color:rgba(255, 0, 0, 0.4)
}

.searchsubmit:hover {
  box-shadow: 1px 1px 2px 2px rgba(0, 255, 34, 0.4);
  background-color:rgba(0, 255, 34, 1)
}

.navbar {
  margin: 0;
  display: flex;
  order: 2;
}

.navbar a {
  padding-right: 10px;
  padding-left: 5px;
  border-left: 2px solid black;
}


.main {
  display: flex;
  padding-bottom: 20px;
  width: 100%;
}


.footer {
  position: fixed;
  left: 0;
  padding-right: 10px;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: black;
  text-align: right;
}

.social {
  margin-left: 2px;
  margin-bottom: 5px;
}