/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

*{
  margin:0;
}

.card{
  margin-bottom: 3rem;
  width: 30vw;
  border: solid;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: brown;
  height: 100%;
  padding: 3rem;
  overflow: auto;
}

.cardImageContainer{
  height: 200px;
  /* aspect-ratio: 16/9; */
  /* object-fit: cover; */
}

.footer, .header{
  z-index: 1;
  position: fixed;
  left:0;
  width: 100%;
  background-color: aqua;
}

.header{
  top: 0;
}

.footer{
  bottom: 0;
}

img{
  height: 100%;
}