* {
  font-family: 'Varela Round', sans-serif;
}

body {
  margin: 0 auto;
  max-width: 100em;
  padding: 1em 0;
  background-color: rgba(127, 255, 212, 0.38);
}

.main {
  display: grid;
  grid-template-columns: 300px auto 300px;
  gap: 1em;
}

.header, .footer {
  grid-column: 1 / 4;
}

.header,
.container {
  align-items: center;
  justify-content: center;
  height: 25vh;
}

.footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  width: 100%;
  background-color: transparent;
  color: black;
}

.header .main-banner {
  margin-top: 10px;
}

.header{
  display: flex;
}

.header h1{
  font-size: 7em;
  text-shadow: 2px 2px 4px rgb(0, 229, 255);
  margin-top: 20px;
}

/* Media */
@media all and (max-width: 700px) {
  .container {
    grid-column: 1 / 2;
    margin-left: 5rem;
    margin-bottom: 10rem;
  }

  .body {
    max-width: 500px;
  }
  .header {
    margin-left: 3vh;
    margin-bottom: 0;
    height: 10vh;
  }

  .header a {
    margin-top: 80px;
  }

  .sidebar {
    margin-left: 20px;
  }

  .footer {
    display: none;
}

  .return {
    display: none;
  }

}

@media all and (max-width: 1500px) {
  .main-banner {
    display: none;
  }
}


/* Banner */

img {
  max-width: 100%;
  display: grid;
}

.main-banner {
  margin: auto;
  margin-right: 350px;
  width: 900px;
  height: 150px;
  background-color: white;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.main-banner .imgban {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  transition: all ease-in-out 500ms;
  -webkit-transition: all ease-in-out 500ms;
}

.main-banner #imgban3 {
  background-image: url(https://w0.peakpx.com/wallpaper/776/861/HD-wallpaper-hamburger-flames-fast-food-food.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-banner #imgban2 {
  background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fimages.pexels.com%2Fphotos%2F2679501%2Fpexels-photo-2679501.jpeg%3Fcs%3Dsrgb%26dl%3Dpexels-shantanu-pal-2679501.jpg%26fm%3Djpg&imgrefurl=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Findian%2520food%2F&tbnid=hfC6YhiFIAwGGM&vet=12ahUKEwjw6N_hpOb8AhWErycCHRVYCGkQMyhVegUIARCxAQ..i&docid=xe0K02QS9YRfqM&w=3399&h=4249&q=food%20images%20hd&ved=2ahUKEwjw6N_hpOb8AhWErycCHRVYCGkQMyhVegUIARCxAQ); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-banner #imgban1 {
  background-image: url(https://w0.peakpx.com/wallpaper/776/861/HD-wallpaper-hamburger-flames-fast-food-food.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Card display */
.container {
  max-width: 900px;
  margin-top: 2rem;
  padding-inline: 2rem;
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr))
}

.cardimage {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;  
}

.card {
  aspect-ratio: 1 / 1.5;
  box-shadow: 2px 3px 7px 3px rgba(0, 0, 0,  .4);
  background-color: #fffcf7;
  border-radius: 8px;
}

.cardtitle {
  font-size: 1.25rem;
  line-height: 1.1;
  font-weight: bolder;
}

.cardaddress {
  font-size: 1rem;
}

.stacked {
  display: grid;
}

.stacked > * {
  grid-column: 1 /2;
  grid-row: 1 / 2;
}

.cardcontent {
  background-color: #fffcf7;
  align-self: end;
  margin: .5rem .5rem 2rem;
  padding: .5rem;
  box-shadow: 0 .25rem 1rem rgba(0, 0, 0,  .1);
  border-radius: 8px;
}

/* Create Card */
.createcontainer {
  max-width: 900px;
  margin-top: 3rem;
  margin-left: 40rem;
  padding-inline: 2rem;
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr))
}
.cardcreate {
  aspect-ratio: 1 / 1.5;
  box-shadow: 2px 3px 7px 3px rgba(0, 0, 0,  .4);
  background-color: #fffcf7;
  border-radius: 8px;
}

.cardform {
  padding-top: 2em;
}

.cardform input {
  margin-top: 5px;
}

.createsubmit {

}


a {
  display: inline-block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease-in-out;
}

a:hover{
  color: rgb(0, 229, 255, .286);
}

button {
  transition: box-shadow 0.3s ease-in-out;
}

button:hover {
  background-color:rgba(0, 255, 34, .286);
}

.sidebar {
  flex: 1;
  max-width: 300px;
  margin-top: 5%;
}

.search {
  width: 200px;
  height: 25px;
  border-radius: 4px;
  margin-bottom: 5px;
}

.clear {
  margin-left: 5px;
}

.clear, 
.searchsubmit,
.return {
  height: 35px;
  width: 70px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 4px;
}

.clear:hover {
  box-shadow: 1px 1px 2px 2px rgba(255, 0, 0, 0.286);
  background-color:rgba(255, 0, 0, 0.286)
}

.searchsubmit:hover {
  box-shadow: 1px 1px 2px 2px rgba(0, 255, 34, 0.286);
  background-color:rgba(0, 255, 34, .286)
}

.navbar {
  margin: 0;
  display: flex;
  order: 2;
}

.navbar a {
  padding-right: 10px;
  padding-left: 5px;
  border-left: 2px solid black;
}


.social1,
.social2 {
  margin-left: 2px;
  margin-bottom: 5px;
}

.showContainer {
  height:300px;
  width: 300px;
  display:flex;
  
}

.star-img-container {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: hsl(211, 19%, 24%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  margin: 2rem 0 1rem 0;
}

.text {
  color: hsl(217, 12%, 63%);
  margin-bottom: 1.25rem;
  font-size: 0.9rem;
  line-height: 1.4rem;
  font-size: 20px;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  color: white;
  cursor: pointer;

}

.rating-container {
  text-align: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: hsl(211, 19%, 24%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(217, 12%, 63%);
  font-weight: 700;
}

.rating-container.active {
  color: white;
  background-color: hsl(216, 12%, 54%);
}

.rating-container:hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.submit-btn {
  cursor: pointer;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 12px 0;
  background-color: hsl(25, 97%, 53%);
  color: white;
  border-radius: 25px;
  letter-spacing: 1.5px;
  font-family: inherit;
  font-weight: 700;
}

.submit-btn:active {
  background-color: white;
  color: hsl(25, 97%, 53%);

}

.rating-container:active {
  color: white;
  background-color: hsl(217, 12%, 63%);
}

.rating-container:hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
  width: 300px;
  height: 300;
}




